VITE_SITE_URL=https://undrdr.com/
VITE_SITE_ORIGIN=https://undrdr.com
VITE_SITE_IMAGE_URL=https://undrdr.com/assets/undrdr-social-card.png
VITE_TARGET_DOMAIN=undrdr.com
VITE_SITE_EMAIL=submit@undrdr.com
SUBMISSIONS_GITHUB_REPO=dot-RealityTest/undrdr-vis
SUBMISSIONS_GITHUB_TOKEN=
SUBMISSIONS_GITHUB_LABELS=undrdr-submission,needs-review
SUBMISSIONS_WEBHOOK_URL=
RESEND_API_KEY=
SUBMISSIONS_TO_EMAIL=submit@undrdr.com
SUBMISSIONS_FROM_EMAIL="UND-RDR <submissions@undrdr.com>"
